/* Background */
.bg-1 {
  background: url('../img/background1.png');
  top: -100px;
  animation: animeRightLeft 1400s infinite;
}

.bg-2 {
  background: url('../img/background2.png');
  top: 290px;
  animation: animeLeftRight 1400s infinite;
}

.bg-3 {
  background: url('../img/background3.png');
  top: 680px;
  animation: animeRightLeft 1400s infinite;
}

.backgroundContainer {
  width: calc(4300px * 3);
  height: 400px;
  background-size: contain;
  background-position: 0%;
  background-clip: border-box;

  position: absolute;
}

.login .fume,
.cadastro .fume {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 0.2);
  position: relative;
  z-index: 3;
}

@keyframes animeRightLeft {
  0% {
    left: 0px
  }

  50% {
    left: calc((-4300px * 3) + 100vw);
  }

  100% {
    left: 0px;
  }
}

@keyframes animeLeftRight {
  0% {
    left: calc((-4300px * 3) + 100vw);
  }

  50% {
    left: 0px;
  }

  100% {
    left: calc((-4300px * 3) + 100vw);
  }
}