@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
  --color-primary-1: #FF9886;
  --color-primary-2: #FF6347;
  --color-primary-3: #FD300B;
  --color-secondary-1: #88A1EC;
  --color-secondary-2: #6580D2;
  --color-secondary-3: #3E59AC;
  --color-secondary-4: #273F87;
  --color-secondary-5: rgba(20, 40, 100, 0.95);
  --color-secondary-6: #071642;
  --color-secondary-7: #02091F;
  --color-neutral-1: #F2F2F2;
  --color-neutral-2: rgb(0 0 0 / 0.2);

  --font-family-1: 'Roboto', sans-serif;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

li{ 
  list-style: none;
}

a {
  text-decoration:  none;
  text-transform: none;
}

body {
  font-family: var(--font-family-1);
  background-color: var(--color-neutral-2);
  position: relative;
  overflow: hidden;
}

/* .background1 {
  background-color: var(--color-neutral-2);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
} */
